<script src="bundle.js"></script>
<template>
  <div class="hello">
    <button v-on:click="play_original" style="font-size : 15px;">Play Original Song</button>
    
    <div style="width:200px;margin: 0 auto;">
      <VueSlideBar
      v-model="value"
      :min="1"
      :max="4"/>
      <h2>Value: {{ value }}</h2>
    </div>
  <p> Use keyboard buttons 1, 2, 3 and 4 to generate sound </p>
  </div>


</template>

<script>
"use strict";
import VueSlideBar from 'vue-slide-bar'

import Tone from 'tone'
import axios from 'axios'
var midinote = require('midi-note')
import mymidi from '../../static/base64midi'
var MidiConvert = require("midiconvert/build/MidiConvert.js")

function base64_decode(base64str) {
    var midiBlob = new Buffer.from(base64str, 'base64');
    var str = new TextDecoder("utf-8").decode(midiBlob);
    return MidiConvert.parse(str);
}

const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}

var synth = new Tone.PolySynth(8).toMaster()
const length_of_one_in_ms = 750
function query_and_play(_this, val){
  URL = `http://localhost:5000/midi?useraction=` + val
  let config = {
    headers: {
      'Access-Control-Allow-Origin': '*'
    }
  }
  let data = {
  }
  axios.get(URL, data, config)
    .then(response => {
      var delayPlay = 0
      console.log(response.data)
      response.data.forEach(function(item){
        var thOdNote = Math.round(3/item["duration"])
        if (thOdNote < 0.05){
            return;
        }

        if (item["midi"] < 48 || item["midi"] > 72){
          return;
        }
        
        sleep(delayPlay*length_of_one_in_ms).then(() => {
          synth.triggerAttackRelease(midinote(item["midi"]), thOdNote + 'n')
        })
        var timeToNext = Math.max(item["time_to_next"], 0)
        delayPlay += timeToNext
      });
    })
    .catch(e => {
      console.log(e)
    })
}

function play_song(_this){

  var midiObject = base64_decode(mymidi.midi)
  var synth = new Tone.PolySynth(8).toMaster()

  Tone.Transport.bpm.value = midiObject.header.bpm
  var midiPart = new Tone.Part(function(time, note) {
    synth.triggerAttackRelease(midinote(note.midi), note.duration, time, note.velocity)
  }, midiObject.tracks[1].notes).start()

  Tone.Transport.start()
}


export default {
  data () {
    return {
      value: 3
    }
  },
  components: {
    VueSlideBar
  },
  props: {
    info: '',
    msg: String
  },
    mounted() {
      var _this = this
      window.addEventListener("keypress", e => {
        var str = String.fromCharCode(e.keyCode)
        if(str == 1){
          _this.value = 1
          query_and_play(_this, 1)
        } else if(str == 2){
          _this.value = 2
          query_and_play(_this, 2)
        } else if (str == 3) {
          _this.value = 3
          query_and_play(_this, 3)
        } else if (str == 4) {
          _this.value = 4
          query_and_play(_this, 4)
        }
      });
    },
  methods: {
    play_original: function(event){
      play_song(this)
    }

  }
}

</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

button {
  margin-left: 4px;
}
</style>
