<template>
  <div id="app">
    <Midi info="First click play "/>
  </div>
</template>

<script>
import Midi from './components/Midi4Input.vue'

export default {
  name: 'app',
  components: {
    Midi
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
